@media screen and (max-width: 992px){
  /* ==================================================
   Home
  ================================================== */
.demo .col-text {
    text-align: center;
    width: 100%;
  }

.demo .col-text p {
    margin-top: 20px;
    margin-bottom: 20px;
  }
}

@media (min-width: 480px) and (max-width: 768px){
  /* ==================================================
   Home
  ================================================== */
  h1 {
    font-size: 100px;
  }
}

@media only screen and (max-width: 480px){
  /* ==================================================
   Home
  ================================================== */
  h1 {
    font-size: 70px;
  }
  /* ==================================================
   Home
  ================================================== */
  #contact .container {
    padding-bottom: 30px;
  }

  #contact .col-contact {
    margin-top: 20px;
  }
}
